#!/usr/bin/env bash

echo "PreToolUse running inside local hai/.hairules/hooks/ directory"

input=$(cat)
echo $input | jq .

for i in {1..5}; do
  sleep 1
  echo "$i"
done

cat <<EOF
{
  "cancel": false,
  "contextModification": "PreToolUse response from the local hai/.hairules/hooks/ directory.",
  "errorMessage": "PreToolUse hook custom errorMessage"
}
EOF
